<!DOCTYPE html>
html(lang="en")
  include includes/header.pug
  body
    header
      div.logo
        | logo
      nav.menu
        ul
          li
            a(href="") MT art tapeとは
          li
            a(href="") ラインナップ
          li
            a(href="") キャンペーン
            
    div.contetnt1
    div.contetnt2
    footer
  include includes/footer.pug
